html {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  width: fit-content;
  margin: 0 auto;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  padding: 0;
}

wrap-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* slider controls */
.controlls label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.dot {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  border: 2px solid gray;
  border-radius: 50%;
  background-color: gray;
  cursor: pointer;
}

.controlls label:hover .dot {
  background-color: white;
  border-color: white;
}

#meme01:checked ~ wrap-bottom .controlls li:nth-child(1) .dot {
  background-color: transparent;
}
#meme02:checked ~ wrap-bottom .controlls li:nth-child(2) .dot {
  background-color: transparent;
}
#meme03:checked ~ wrap-bottom .controlls li:nth-child(3) .dot {
  background-color: transparent;
}
#meme04:checked ~ wrap-bottom .controlls li:nth-child(4) .dot {
  background-color: transparent;
}

/* Slider images */
wrap-slider {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 500px;
  overflow: hidden;
  border-radius: 1rem;
}

.slides {
  display: flex;
  flex-direction: row;
}

.slides img {
  width: 500px;
  height: 300px;
}
@media (max-width: 320px) {
  wrap-slider {
    width: 300px;
  }
  .slides img {
    width: 300px;
    height: 180px;
  }
  wrap-bottom {
    flex-direction: column-reverse;
  }
}

#meme01:checked ~ wrap-slider > .slides {
  transform: translateX(0%);
  transition: transform 0.4s;
}
#meme02:checked ~ wrap-slider > .slides {
  transform: translateX(-100%);
  transition: transform 0.4s;
}
#meme03:checked ~ wrap-slider > .slides {
  transform: translateX(-200%);
  transition: transform 0.4s;
}
#meme04:checked ~ wrap-slider > .slides {
  transform: translateX(-300%);
  transition: transform 0.4s;
}

/* Slider text */
input[name='meme'] {
  display: none;
}

.text {
  width: 100%;
}

.text p {
  display: none;
}

#meme01:checked ~ wrap-bottom .text p:nth-child(1) {
  display: block;
}
#meme02:checked ~ wrap-bottom .text p:nth-child(2) {
  display: block;
}
#meme03:checked ~ wrap-bottom .text p:nth-child(3) {
  display: block;
}
#meme04:checked ~ wrap-bottom .text p:nth-child(4) {
  display: block;
}
